.services {
    position: relative;
}
.slider {
    position: relative;
    ::-webkit-scrollbar {
        height: 5px;
        border-radius: 10px;
    }


    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

}

.slides {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.slide {
    flex: 0 0 100%;
    scroll-snap-align: start;
    // width: 100%;
    // min-height: 400px;
    margin-right: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    > img {
        object-fit: cover;
        // height: 650px;
        height: 100%;
        width: 100%;
    }
    > span {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}

@media (min-width: 576px) {
	.services {
		max-width: 1200px;
		margin: 0 auto;

	}
}
