<footer class="footer">
  <div class="footer__links">
    <h3 class="footer__logo"><a href="/">Logo</a></h3>
      <div class="footer__menu-desktop">
    <ul>
      <li><a href="/about">О клинике</a></li>
      <li><a href="/services">Услуги</a></li>
      <li><a href="/specialists">Специалисты</a></li>
      <li><a href="/price">Цены</a></li>
      <li><a href="/contacts">Контакты</a></li>
    </ul>
  </div>
    <div class="footer__socials">
      <a href="http://instagram.com"><img src="../../img/instagram.svg" alt=""></a>
      <a href="http://wa.com"><img src="../../img/wa.svg" alt=""></a>
      <a href="http://twitter.com"><img src="../../img/telegram.svg" alt=""></a>
    </div>
  </div>
  <div class="footer__menu">
    <ul>
      <li><a href="/about">О клинике</a></li>
      <li><a href="/services">Услуги</a></li>
      <li><a href="/specialists">Специалисты</a></li>
      <li><a href="/price">Цены</a></li>
      <li><a href="/contacts">Контакты</a></li>
    </ul>
  </div>
</footer>
