<div
	class="services slider"
>
	<div class="slides">
		<div class="services__item slide">
			@@include('../bem-blocks/_carouselItem.html', { "title": "Check-up",
			"description": "для мужчин", "listItem1": "Гормональный скрининг",
			"listItem2": "Тестостерон", "listItem3": "Свободный тестостерон",
			"listItem4": "Глобулин, связывающий половые гормоны", "price": "2800₽",
			"oldPrice": "3500₽" })
		</div>
		<div class="services__item slide">
			@@include('../bem-blocks/_carouselItem.html', { "title": "Check-up 2",
			"description": "для мужчин", "listItem1": "Гормональный скрининг",
			"listItem2": "Тестостерон", "listItem3": "Свободный тестостерон",
			"listItem4": "Глобулин, связывающий половые гормоны", "price": "2800₽",
			"oldPrice": "3500₽" })
		</div>
		<div class="services__item slide">
			@@include('../bem-blocks/_carouselItem.html', { "title": "Check-up 3",
			"description": "для мужчин", "listItem1": "Гормональный скрининг",
			"listItem2": "Тестостерон", "listItem3": "Свободный тестостерон",
			"listItem4": "Глобулин, связывающий половые гормоны", "price": "2800₽",
			"oldPrice": "3500₽" })
		</div>
		<div class="services__item slide">
			@@include('../bem-blocks/_carouselItem.html', { "title": "Check-up 4",
			"description": "для мужчин", "listItem1": "Гормональный скрининг",
			"listItem2": "Тестостерон", "listItem3": "Свободный тестостерон",
			"listItem4": "Глобулин, связывающий половые гормоны", "price": "2800₽",
			"oldPrice": "3500₽" })
		</div>
	</div>
</div>
